<body>
  <h1>Admission</h1>
  <li><%= link_to "SKE Admission", ske_path %></li>
  <li><%= link_to "CPE Admission", cpe_path %></li>
  <li><%= link_to "Static", static_path %></li>
  <li><%= link_to "Bandit Admission", badit_path %></li>
</body>