<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="th">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<head>
  <title> หัวหน้าวิชาภาค </title>
  <style>
    tr, th, td {
      padding-right: 1.625em; border-bottom: 1px solid #EAE7DE;
    }
    #main {
      font-size: 13px;
      line-height: 1.6em;
      margin-top: 20px;
    }

    #main p {
      margin-top: 0;
    }

    #main .column {
      display: inline;
      float: left;
      margin-right: 2.1276%;
    }

    #main .column-narrow {
      width: 23.4042%;
    }

    #main .column-medium {
      width: 48.9361%;
    }

    #main .column-wide {
      width: 74.4680%;
    }

    #main .column-narrow-child {
      width: 31.4685%;
    }

    #main .column-wide-child {
      margin-right: 2.6573%;
      width: 65.7342%;
    }

    #main .column-last {
      margin-right: 0 !important;
    }

    /* Featured Posts */

    .post-content img.aligncenter,
    {
      max-width: 100%;
      width: auto;
      height: auto;
    }

    .full-width .post-content img.aligncenter,
    {
      max-width: 100%;
      width: auto;
      height: auto;
    }

    h1.post-title {
      color: #030B5A;
      font-size: 22px;
      font-weight: bold;
      line-height: 1.5em;
      margin: 0 0 10px;
      font-style: oblique;
    }

    div.cleaner,
    div.clear,
    div.divider {
      margin: 0;
      clear: both;
      font-size: 1px;
      height: 1px;
      line-height: 1px;
    }

    div.divider {
      border-top: solid 1px #e7e7e7;
      clear: none;
      margin: 20px 0;
    }

    .post-content img {
      margin-bottom: 20px;
    }

    .post-content img.alignnone,
    .post-content img.aligncenter,
    .post-content img.alignleft,
    .post-content img.alignright {
      max-width: 100%;
      width: auto;
      height: auto;
    }

    .full-width .post-content img.alignnone,
    .full-width .post-content img.aligncenter,
    .full-width .post-content img.alignleft,
    .full-width .post-content img.alignright {
      max-width: 100%;
      width: auto;
      height: auto;
    }

  </style>
</head>

<body>
  <div class="column column-wide column-last">

    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    
    <div class="widget">
      <h1 class="post-title">หัวหน้าภาควิชา</h1>

      <div class="divider">&nbsp;</div>

      <div class="post-content">
        <table style="width: 100%;">
          <tbody>
            <tr>
              <td><img class="aligncenter wp-image-1650 size-full" src="https://www.cpe.ku.ac.th/wp-content/uploads/2015/01/Anan-New.jpg" alt="" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2015/01/Anan-New.jpg 180w, https://www.cpe.ku.ac.th/wp-content/uploads/2015/01/Anan-New-39x55.jpg 39w"
                  sizes="(max-width: 90px) 100vw, 90px" /></td>
              <td style="text-align: center;">รศ.ดร.อนันต์ ผลเพิ่ม</td>
              <td style="text-align: center;">พ.ศ. 2557-ปัจจุบัน</td>
            </tr>
            <tr>
              <td><img class="aligncenter size-full wp-image-520" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-8-8-30.jpg" alt="14-KUENG-PHO-01-8-8-30" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-8-8-30.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-8-8-30-39x55.jpg 39w"
                  sizes="(max-width: 90px) 100vw, 90px" /></td>
              <td style="text-align: center;">ผศ.ดร. ภุชงค์ อุทโยภาศ</td>
              <td style="text-align: center;">พ.ศ. 2554- 2557</td>
            </tr>
            <tr>
              <td><img class="aligncenter size-full wp-image-519" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-7-7-15.jpg" alt="14-KUENG-PHO-01-7-7-15" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-7-7-15.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-7-7-15-39x55.jpg 39w"
                  sizes="(max-width: 90px) 100vw, 90px" /></td>
              <td style="text-align: center;">ผศ.ดร.เขมะฑัต วิภาตะวนิช</td>
              <td style="text-align: center;">พ.ศ. 2549 – 2553</td>
            </tr>
            <tr>
              <td><img class="aligncenter size-full wp-image-557" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-45-45-25.jpg" alt="14-KUENG-PHO-01-45-45-25" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-45-45-25.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-45-45-25-39x55.jpg 39w"
                  sizes="(max-width: 90px) 100vw, 90px" /></td>
              <td style="text-align: center;">ผศ.ดร.พีรวัฒน์ วัฒนพงศ์</td>
              <td style="text-align: center;">พ.ศ. 2545 &#8211; 2549</td>
            </tr>
            <tr>
              <td><img class="aligncenter size-full wp-image-514" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-2-2-24.jpg" alt="14-KUENG-PHO-01-2-2-24" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-2-2-24.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-2-2-24-39x55.jpg 39w"
                  sizes="(max-width: 90px) 100vw, 90px" /></td>
              <td style="text-align: center;">รศ.ประดนเดช นีละคุปต์</td>
              <td style="text-align: center;">พ.ศ. 2542 &#8211; 2545</td>
            </tr>
            <tr>
              <td><img class="aligncenter size-full wp-image-530" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-18-18-6.jpg" alt="14-KUENG-PHO-01-18-18-6" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-18-18-6.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-18-18-6-39x55.jpg 39w"
                  sizes="(max-width: 90px) 100vw, 90px" /></td>
              <td style="text-align: center;">ผศ.ดร.สมนึก คีรีโต</td>
              <td style="text-align: center;">พ.ศ 2539 &#8211; 2542</td>
            </tr>
            <tr>
              <td><img class="aligncenter size-full wp-image-526" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-14-14-13.jpg" alt="14-KUENG-PHO-01-14-14-13" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-14-14-13.jpg 90w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-14-14-13-39x55.jpg 39w"
                  sizes="(max-width: 90px) 100vw, 90px" /></td>
              <td style="text-align: center;">รศ.ดร.ชัยยงค์ วงศ์ชัยสุวัฒน์</td>
              <td style="text-align: center;">พ.ศ. 2535 &#8211; 2539</td>
            </tr>
            <tr>
              <td><img class="aligncenter wp-image-2466" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/09/รูปนนทวัฒน์สูท.jpg" alt="" width="90" height="126" srcset="https://www.cpe.ku.ac.th/wp-content/uploads/2014/09/รูปนนทวัฒน์สูท.jpg 180w, https://www.cpe.ku.ac.th/wp-content/uploads/2014/09/รูปนนทวัฒน์สูท-39x55.jpg 39w"
                  sizes="(max-width: 90px) 100vw, 90px" /></td>
              <td style="text-align: center;">อ.นนทวัฒน์ จันทร์เจริญ</td>
              <td style="text-align: center;">พ.ศ.2532 &#8211; 2535</td>
            </tr>
          </tbody>
        </table>

        <div class="cleaner">&nbsp;</div>


      </div>
      <!-- end .post-content -->


      <div class="divider">&nbsp;</div>

      <div class="cleaner">&nbsp;</div>
    </div>
    <!-- end .widget -->

    <div class="cleaner">&nbsp;</div>

  </div>
  <!-- end .column .column-medium -->


  <div class="cleaner">&nbsp;</div>


  </div>
  <!-- end .wrapper -->

  </div>
  <!-- end #main -->
</body>

