<p><img style="-webkit-user-select: none;background-position: 0px 0px, 10px 10px;background-size: 20px 20px;background-image:linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%),linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);cursor: zoom-in;" src="https://static1.squarespace.com/static/5550d9d5e4b06b388ebfd48b/t/557f6c2fe4b0bdc1b38471d9/1434414131335/contact.jpg?format=1500w" width="823" height="352">
</p>
<h1> Contact Us <h1>
<p> ภาควิชาวิศวกรรมคอมพิวเตอร์ คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเกษตรศาสตร์ (วิทยาเขตบางเขน)
<br>เลขที่ 50 ถนนงามวงศ์วาน แขวงลาดยาว
เขตจตุจักร กรุงเทพ ฯ 10900
<br>
<br>โทร. 0-2797-0999 ต่อ 1403-04 1450 <p>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-page" data-href="https://www.facebook.com/KasetsartCPE/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/KasetsartCPE/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/KasetsartCPE/">Department of Computer Engineering - Kasetsart University</a></blockquote></div>
<br>
<br>
<p><a href="https://www.facebook.com/KasetsartCPE/">Facebook</a>
<br><a href="mailto:cpe@ku.ac.th">E-mail</a> </p>

<br>
<br>
<h8><right><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d17737.74850055379!2d100.57222857019008!3d13.850799434515888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sth!4v1495699174067" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></right></h8>

<br>
<br>


<br>SHARE THIS PAGE

