
<h1> Contact Us <h1>
<p> ภาควิชาวิศวกรรมคอมพิวเตอร์ คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเกษตรศาสตร์ (วิทยาเขตบางเขน)
<br>เลขที่ 50 ถนนงามวงศ์วาน แขวงลาดยาว
เขตจตุจักร กรุงเทพ ฯ 10900
<br>
<br>โทร. 0-2797-0999 ต่อ 1403-04 1450 <p>

<a href="https://www.facebook.com/KasetsartCPE/">Facebook</a>
<br><a href="mailto:cpe@ku.ac.th">E-mail</a>

<br>
<br>
<h8> .<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d17737.74850055379!2d100.57222857019008!3d13.850799434515888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sth!4v1495699174067" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></h8>

<br>
<br>
<br>SHARE THIS PAGE

