<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="th">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<head>
  <title> งานวิจัย </title>
  <style>
  h1{
    font-family: sans-serif;
    font-style: oblique;
    color: #0A1268;
  }
  p{
    font-family: monospace;
    font-style: normal;
  }
  .post-content{
    padding-left: 20%;
    padding-right: 20%;
    background-color: #c5d2e9;
  }
  </style>
</head>

<body>
  <div class="post-cover post-cover-full single-cover">
    <center><img src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/09/DSCF3353-960x350.jpg" alt="งานวิจัย" class="Thumbnail thumbnail thumb-full " width="960" height="350"></center>
  </div>
  <div class="widget">
    <center><h1 class="post-title">งานวิจัย</h1></center>


    <div class="divider">&nbsp;</div>

    <div class="post-content">
      <br>
      <p>ภาควิชาวิศวกรรมคอมพิวเตอร์ทำการพัฒนาและค้นคว้าวิจัยทางด้านเทคโนโลยีคอมพิวเตอร์ ทั้งด้านฮาร์ดแวร์และซอฟต์แวร์ในสาขาต่าง ๆ เช่น สถาปัตยกรรมคอมพิวเตอร์ เครือข่ายคอมพิวเตอร์และการสื่อสารข้อมูล การประยุกต์ใช้งานไมโครโปรเซสเซอร์ การโปรแกรมระบบ ปัญญาประดิษฐ์
        วิศวกรรมซอฟต์แวร์ การพัฒนาระบบงานคอมพิวเตอร์ ระบบการจัดการฐานข้อมูล และเทคโนโลยีสารสนเทศเพื่อการจัดการ</p>
      <br>
      <div class="cleaner">&nbsp;</div>


    </div>
    <div class="cleaner">&nbsp;</div>
  </div>
</body>
