<footer class="footer">

<div class="container">

<li>Copyright © 2017 Department of Computer Engineering. All Rights Reserved  </li>

<ul class="nav navbar-nav navbar-right">

 <li>Computer Engineer Department</li>

<ul>

</footer>